body{
    background-color: #c8ebe4;
}

h1{
    color: #025157;
    text-align: center;
}

p{
    color: #8b8b8bcc;
    font-family: Verdana;
    font-size: 20px;
}

button{
    color: #fff;
    background-color: #025157;
}

.header {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 0;
  }

li{
    display: inline;
    padding-left: 25px;
    color: #025157;
}

.header > *{
    display: inline-block;
    font-size: 16px;
    line-height: 45px;
    height: 100%;
    vertical-align: middle;
}

.logo{
    width: 15%;
}
.logo > img{
    width: 15%;
}
.navbar{
    width: 60%;
    text-align: left;
    color: #025157;
    font-weight: 500;
    font-family: sans-serif;
    height: 45px;
}

.actions{
    width: 25%;
    text-align: left;
    font-size: 14px;
    font-weight: 500;
}
.actions > *{
    padding-left: 10px;
}
.SignIn{
    
    padding: 12px 14px 12px 14px;
    border: 0;
    border-radius: 5px;
}
.main{
    margin-top: 140px;
    text-align: center;
}